This notebook shows how the transformations for the stock files could have been completed leveraging Spark

In [26]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession
import pyspark.sql.functions as sf      # sf = spark functions
import pyspark.sql.types as st          # st = spark types
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound
import os

sparkql = pyspark.sql.SparkSession.builder.master('local').getOrCreate()

data_dir = '../data'

file_names = ['ADBE','AMZN', 'CRM', 'CSCO', 'GOOGL', 'IBM','INTC','META','MSFT','NFLX','NVDA','ORCL','TSLA'] #excluded AAPL to start df

columns = 'stock_name string, date string, open float, high float, low float, close float, adj_close float, volume int' #schema to use

df = sparkql.read.csv(os.path.join(data_dir,'AAPL.csv'), header=True)
df = df.toDF('date', 'open', 'high', 'low', 'close', 'adj_close', 'volume') #rename the columns
df = df.withColumn('stock_name', sf.lit('AAPL')) #add column with stock name

#create composite key
df.createOrReplaceTempView("key") 
df = sparkql.sql("SELECT CONCAT(stock_name, date) AS sd_id, stock_name, date, open, high, low, close, adj_close, volume FROM key")
df = df.select('sd_id','stock_name', 'date', 'open', 'high', 'low', 'close', 'adj_close', 'volume')

#create df for each csv, transform it and then consolidate into one dataframe
for csv in file_names:
    idf = sparkql.read.csv(os.path.join(data_dir,csv+'.csv'), header=True)
    idf = idf.toDF('date', 'open', 'high', 'low', 'close', 'adj_close', 'volume') #rename the columns
    idf = idf.withColumn('stock_name', sf.lit(csv)) #add column with stock name

    #create composite key
    idf.createOrReplaceTempView("key") 
    idf = sparkql.sql("SELECT CONCAT(stock_name, date) AS sd_id, stock_name, date, open, high, low, close, adj_close, volume FROM key")
    idf = idf.select('sd_id','stock_name', 'date', 'open', 'high', 'low', 'close', 'adj_close', 'volume')
    
    #concat to df
    df = df.union(idf)

# Write to parquet file. Used coalesce in order to have one parquet file
df.coalesce(1).write.format("parquet").save(os.path.join(data_dir,'all_tech_stocks.parquet'))

Below are sections where I used the Jupyter notebooks to test out the code

In [9]:
import pandas as pd

from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud.exceptions import NotFound
import os
from datetime import datetime

data_dir = '../data'

file_names = ['AAPL','ADBE','AMZN', 'CRM', 'CSCO', 'GOOGL', 'IBM','INTC','META','MSFT','NFLX','NVDA','ORCL','TSLA'] #excluded AAPL to start df
    
old_names = ['Date','Open','High','Low','Close','Adj Close','Volume']
new_names = ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
    
rename_dict = {item[0]:item[1] for item in zip(old_names,new_names)}

li = []

for file in file_names:
    idf = pd.read_csv(os.path.join(data_dir,f'{file}.csv'),header=0)
    #rename the columns
    idf = idf.rename(columns=rename_dict)
    #insert column with the stock name
    idf['date'] = pd.to_datetime(idf['date'], format='%Y-%m-%d')

    idf.insert(0,'day', idf['date'].dt.day)
    idf.insert(0,'month', idf['date'].dt.month)
    idf.insert(0,'year', idf['date'].dt.year)
    
    idf.insert(0,'stock_name', file)
    #insert column with composite key
    idf.insert(0,'sd_id', idf['stock_name']+idf['date'].astype(str))

    print(idf)
    li.append(idf)

df.to_parquet(os.path.join(data_dir,'all_stocks.parquet'))

               sd_id stock_name  year  month  day       date        open  \
0     AAPL2010-01-04       AAPL  2010      1    4 2010-01-04    7.622500
1     AAPL2010-01-05       AAPL  2010      1    5 2010-01-05    7.664286
2     AAPL2010-01-06       AAPL  2010      1    6 2010-01-06    7.656429
3     AAPL2010-01-07       AAPL  2010      1    7 2010-01-07    7.562500
4     AAPL2010-01-08       AAPL  2010      1    8 2010-01-08    7.510714
...              ...        ...   ...    ...  ...        ...         ...
3266  AAPL2022-12-22       AAPL  2022     12   22 2022-12-22  134.350006
3267  AAPL2022-12-23       AAPL  2022     12   23 2022-12-23  130.919998
3268  AAPL2022-12-27       AAPL  2022     12   27 2022-12-27  131.380005
3269  AAPL2022-12-28       AAPL  2022     12   28 2022-12-28  129.669998
3270  AAPL2022-12-29       AAPL  2022     12   29 2022-12-29  127.989998

            high         low       close   adj_close     volume
0       7.660714    7.585000    7.643214    6.515213  493729600
1       7.699643    7.616071    7.656429    6.526476  601904800
2       7.686786    7.526786    7.534643    6.422664  552160000
3       7.571429    7.466071    7.520714    6.410790  477131200
4       7.571429    7.466429    7.570714    6.453412  447610800
...          ...         ...         ...         ...        ...
3266  134.559998  130.300003  132.229996  132.229996   77852100
3267  132.419998  129.639999  131.860001  131.860001   63814900
3268  131.410004  128.720001  130.029999  130.029999   69007800
3269  131.029999  125.870003  126.040001  126.040001   85438400
3270  130.479996  127.730003  129.610001  129.610001   75703700

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date        open  \
0     ADBE2010-01-04       ADBE  2010      1    4 2010-01-04   36.650002
1     ADBE2010-01-05       ADBE  2010      1    5 2010-01-05   37.040001
2     ADBE2010-01-06       ADBE  2010      1    6 2010-01-06   37.330002
3     ADBE2010-01-07       ADBE  2010      1    7 2010-01-07   37.410000
4     ADBE2010-01-08       ADBE  2010      1    8 2010-01-08   36.750000
...              ...        ...   ...    ...  ...        ...         ...
3266  ADBE2022-12-22       ADBE  2022     12   22 2022-12-22  336.010010
3267  ADBE2022-12-23       ADBE  2022     12   23 2022-12-23  335.000000
3268  ADBE2022-12-27       ADBE  2022     12   27 2022-12-27  338.000000
3269  ADBE2022-12-28       ADBE  2022     12   28 2022-12-28  335.059998
3270  ADBE2022-12-29       ADBE  2022     12   29 2022-12-29  330.750000

            high         low       close   adj_close   volume
0      37.299999   36.650002   37.090000   37.090000  4710200
1      37.799999   36.869999   37.700001   37.700001  7108800
2      37.740002   37.200001   37.619999   37.619999  5336400
3      37.590000   36.810001   36.889999   36.889999  5576700
4      36.970001   36.340000   36.689999   36.689999  5429200
...          ...         ...         ...         ...      ...
3266  339.880005  330.940002  336.519989  336.519989  2319300
3267  338.920013  333.290009  338.450012  338.450012  1629800
3268  338.160004  332.459991  335.089996  335.089996  1464300
3269  338.500000  327.190002  328.329987  328.329987  1672100
3270  339.500000  329.760010  337.579987  337.579987  1793100

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date       open  \
0     AMZN2010-01-04       AMZN  2010      1    4 2010-01-04   6.812500
1     AMZN2010-01-05       AMZN  2010      1    5 2010-01-05   6.671500
2     AMZN2010-01-06       AMZN  2010      1    6 2010-01-06   6.730000
3     AMZN2010-01-07       AMZN  2010      1    7 2010-01-07   6.600500
4     AMZN2010-01-08       AMZN  2010      1    8 2010-01-08   6.528000
...              ...        ...   ...    ...  ...        ...        ...
3266  AMZN2022-12-22       AMZN  2022     12   22 2022-12-22  85.519997
3267  AMZN2022-12-23       AMZN  2022     12   23 2022-12-23  83.250000
3268  AMZN2022-12-27       AMZN  2022     12   27 2022-12-27  84.970001
3269  AMZN2022-12-28       AMZN  2022     12   28 2022-12-28  82.800003
3270  AMZN2022-12-29       AMZN  2022     12   29 2022-12-29  82.870003

           high        low      close  adj_close     volume
0      6.830500   6.657000   6.695000   6.695000  151998000
1      6.774000   6.590500   6.734500   6.734500  177038000
2      6.736500   6.582500   6.612500   6.612500  143576000
3      6.616000   6.440000   6.500000   6.500000  220604000
4      6.684000   6.451500   6.676000   6.676000  196610000
...         ...        ...        ...        ...        ...
3266  85.680000  82.250000  83.790001  83.790001   81431300
3267  85.779999  82.930000  85.250000  85.250000   57433700
3268  85.349998  83.000000  83.040001  83.040001   57284000
3269  83.480003  81.690002  81.820000  81.820000   58228600
3270  84.550003  82.550003  84.180000  84.180000   54995900

[3271 rows x 12 columns]
              sd_id stock_name  year  month  day       date        open  \
0     CRM2010-01-04        CRM  2010      1    4 2010-01-04   18.652500
1     CRM2010-01-05        CRM  2010      1    5 2010-01-05   18.612499
2     CRM2010-01-06        CRM  2010      1    6 2010-01-06   18.687500
3     CRM2010-01-07        CRM  2010      1    7 2010-01-07   18.629999
4     CRM2010-01-08        CRM  2010      1    8 2010-01-08   18.517500
...             ...        ...   ...    ...  ...        ...         ...
3266  CRM2022-12-22        CRM  2022     12   22 2022-12-22  128.669998
3267  CRM2022-12-23        CRM  2022     12   23 2022-12-23  128.729996
3268  CRM2022-12-27        CRM  2022     12   27 2022-12-27  128.559998
3269  CRM2022-12-28        CRM  2022     12   28 2022-12-28  129.710007
3270  CRM2022-12-29        CRM  2022     12   29 2022-12-29  129.699997

            high         low       close   adj_close   volume
0      18.882500   18.547501   18.705000   18.705000  7906000
1      18.750000   18.200001   18.625000   18.625000  7942400
2      18.750000   18.495001   18.592501   18.592501  5122400
3      18.737499   18.385000   18.510000   18.510000  4840000
4      18.587500   18.315001   18.537500   18.537500  5510400
...          ...         ...         ...         ...      ...
3266  129.539993  126.339996  129.190002  129.190002  9968600
3267  129.860001  127.589996  129.440002  129.440002  5821300
3268  131.750000  127.650002  130.660004  130.660004  8300800
3269  131.139999  128.169998  128.470001  128.470001  6249800
3270  132.949997  129.500000  132.539993  132.539993  7628800

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date       open  \
0     CSCO2010-01-04       CSCO  2010      1    4 2010-01-04  24.110001
1     CSCO2010-01-05       CSCO  2010      1    5 2010-01-05  24.600000
2     CSCO2010-01-06       CSCO  2010      1    6 2010-01-06  24.540001
3     CSCO2010-01-07       CSCO  2010      1    7 2010-01-07  24.299999
4     CSCO2010-01-08       CSCO  2010      1    8 2010-01-08  24.379999
...              ...        ...   ...    ...  ...        ...        ...
3266  CSCO2022-12-22       CSCO  2022     12   22 2022-12-22  47.490002
3267  CSCO2022-12-23       CSCO  2022     12   23 2022-12-23  47.250000
3268  CSCO2022-12-27       CSCO  2022     12   27 2022-12-27  47.669998
3269  CSCO2022-12-28       CSCO  2022     12   28 2022-12-28  47.689999
3270  CSCO2022-12-29       CSCO  2022     12   29 2022-12-29  47.259998

           high        low      close  adj_close    volume
0     24.840000  24.010000  24.690001  17.394129  59853700
1     24.730000  24.379999  24.580000  17.316635  45124500
2     24.740000  24.340000  24.420000  17.203917  35715700
3     24.570000  24.170000  24.530001  17.281410  31531200
4     24.700001  24.250000  24.660000  17.372995  39115900
...         ...        ...        ...        ...       ...
3266  47.490002  46.689999  47.320000  46.944912  23118500
3267  47.490002  47.009998  47.480000  47.103645   9554400
3268  47.709999  47.220001  47.529999  47.153248  12066200
3269  47.770000  46.980000  47.070000  46.696896   9847400
3270  47.740002  47.259998  47.500000  47.123486  11396500

[3271 rows x 12 columns]
                sd_id stock_name  year  month  day       date       open  \
0     GOOGL2010-01-04      GOOGL  2010      1    4 2010-01-04  15.689439
1     GOOGL2010-01-05      GOOGL  2010      1    5 2010-01-05  15.695195
2     GOOGL2010-01-06      GOOGL  2010      1    6 2010-01-06  15.662162
3     GOOGL2010-01-07      GOOGL  2010      1    7 2010-01-07  15.250250
4     GOOGL2010-01-08      GOOGL  2010      1    8 2010-01-08  14.814815
...               ...        ...   ...    ...  ...        ...        ...
3266  GOOGL2022-12-22      GOOGL  2022     12   22 2022-12-22  88.160004
3267  GOOGL2022-12-23      GOOGL  2022     12   23 2022-12-23  87.110001
3268  GOOGL2022-12-27      GOOGL  2022     12   27 2022-12-27  88.800003
3269  GOOGL2022-12-28      GOOGL  2022     12   28 2022-12-28  86.980003
3270  GOOGL2022-12-29      GOOGL  2022     12   29 2022-12-29  86.620003

           high        low      close  adj_close     volume
0     15.753504  15.621622  15.684434  15.684434   78169752
1     15.711712  15.554054  15.615365  15.615365  120067812
2     15.662162  15.174174  15.221722  15.221722  158988852
3     15.265265  14.831081  14.867367  14.867367  256315428
4     15.096346  14.742492  15.065566  15.065566  188783028
...         ...        ...        ...        ...        ...
3266  88.540001  86.320000  87.760002  87.760002   27658300
3267  89.550003  87.070000  89.230003  89.230003   23003000
3268  88.940002  87.010002  87.389999  87.389999   20097300
3269  88.040001  85.940002  86.019997  86.019997   19523200
3270  88.849998  86.610001  88.449997  88.449997   23333500

[3271 rows x 12 columns]
              sd_id stock_name  year  month  day       date        open  \
0     IBM2010-01-04        IBM  2010      1    4 2010-01-04  125.411087
1     IBM2010-01-05        IBM  2010      1    5 2010-01-05  125.889099
2     IBM2010-01-06        IBM  2010      1    6 2010-01-06  124.933075
3     IBM2010-01-07        IBM  2010      1    7 2010-01-07  124.158699
4     IBM2010-01-08        IBM  2010      1    8 2010-01-08  123.393883
...             ...        ...   ...    ...  ...        ...         ...
3266  IBM2022-12-22        IBM  2022     12   22 2022-12-22  140.949997
3267  IBM2022-12-23        IBM  2022     12   23 2022-12-23  140.589996
3268  IBM2022-12-27        IBM  2022     12   27 2022-12-27  141.729996
3269  IBM2022-12-28        IBM  2022     12   28 2022-12-28  142.399994
3270  IBM2022-12-29        IBM  2022     12   29 2022-12-29  140.580002

            high         low       close   adj_close   volume
0     127.122368  125.095604  126.625237   81.314735  6438444
1     126.051628  124.378586  125.095604   80.332451  7156104
2     125.707458  124.101341  124.282982   79.810623  5863144
3     124.521988  123.240921  123.852776   79.534355  6109268
4     125.162521  123.374763  125.095604   80.332451  4390271
...          ...         ...         ...         ...      ...
3266  141.440002  138.619995  140.880005  140.880005  3337100
3267  141.860001  139.600006  141.649994  141.649994  2092500
3268  142.720001  141.229996  142.419998  142.419998  2742400
3269  142.809998  139.949997  140.020004  140.020004  2539500
3270  142.259995  140.449997  141.059998  141.059998  2337200

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date       open  \
0     INTC2010-01-04       INTC  2010      1    4 2010-01-04  20.790001
1     INTC2010-01-05       INTC  2010      1    5 2010-01-05  20.940001
2     INTC2010-01-06       INTC  2010      1    6 2010-01-06  20.809999
3     INTC2010-01-07       INTC  2010      1    7 2010-01-07  20.730000
4     INTC2010-01-08       INTC  2010      1    8 2010-01-08  20.540001
...              ...        ...   ...    ...  ...        ...        ...
3266  INTC2022-12-22       INTC  2022     12   22 2022-12-22  26.450001
3267  INTC2022-12-23       INTC  2022     12   23 2022-12-23  25.920000
3268  INTC2022-12-27       INTC  2022     12   27 2022-12-27  25.850000
3269  INTC2022-12-28       INTC  2022     12   28 2022-12-28  25.840000
3270  INTC2022-12-29       INTC  2022     12   29 2022-12-29  25.770000

           high    low      close  adj_close    volume
0     21.030001  20.73  20.879999  14.020261  47800900
1     20.990000  20.60  20.870001  14.013547  52357700
2     20.930000  20.67  20.799999  13.966538  40037400
3     20.760000  20.34  20.600000  13.832253  54041500
4     20.889999  20.40  20.830000  13.986687  48234700
...         ...    ...        ...        ...       ...
3266  26.450001  25.35  25.969999  25.969999  47478300
3267  26.190001  25.68  26.090000  26.090000  23600900
3268  26.100000  25.65  25.940001  25.940001  29548100
3269  26.120001  25.50  25.540001  25.540001  26176900
3270  26.290001  25.75  26.209999  26.209999  30944800

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date        open  \
0     META2012-05-18       META  2012      5   18 2012-05-18   42.049999
1     META2012-05-21       META  2012      5   21 2012-05-21   36.529999
2     META2012-05-22       META  2012      5   22 2012-05-22   32.610001
3     META2012-05-23       META  2012      5   23 2012-05-23   31.370001
4     META2012-05-24       META  2012      5   24 2012-05-24   32.950001
...              ...        ...   ...    ...  ...        ...         ...
2683  META2023-01-18       META  2023      1   18 2023-01-18  135.809998
2684  META2023-01-19       META  2023      1   19 2023-01-19  132.490005
2685  META2023-01-20       META  2023      1   20 2023-01-20  135.889999
2686  META2023-01-23       META  2023      1   23 2023-01-23  139.289993
2687  META2023-01-24       META  2023      1   24 2023-01-24  141.690002

            high         low       close   adj_close     volume
0      45.000000   38.000000   38.230000   38.230000  573576400
1      36.660000   33.000000   34.029999   34.029999  168192700
2      33.590000   30.940001   31.000000   31.000000  101786600
3      32.500000   31.360001   32.000000   32.000000   73600000
4      33.209999   31.770000   33.029999   33.029999   50237200
...          ...         ...         ...         ...        ...
2683  137.250000  132.800003  133.020004  133.020004   20215500
2684  137.449997  132.139999  136.149994  136.149994   28625200
2685  139.940002  134.610001  139.369995  139.369995   28643100
2686  143.759995  138.660004  143.270004  143.270004   27470100
2687  145.000000  141.360001  143.139999  143.139999   21835300

[2688 rows x 12 columns]
               sd_id stock_name  year  month  day       date        open  \
0     MSFT2010-01-04       MSFT  2010      1    4 2010-01-04   30.620001
1     MSFT2010-01-05       MSFT  2010      1    5 2010-01-05   30.850000
2     MSFT2010-01-06       MSFT  2010      1    6 2010-01-06   30.879999
3     MSFT2010-01-07       MSFT  2010      1    7 2010-01-07   30.629999
4     MSFT2010-01-08       MSFT  2010      1    8 2010-01-08   30.280001
...              ...        ...   ...    ...  ...        ...         ...
3266  MSFT2022-12-22       MSFT  2022     12   22 2022-12-22  241.259995
3267  MSFT2022-12-23       MSFT  2022     12   23 2022-12-23  236.110001
3268  MSFT2022-12-27       MSFT  2022     12   27 2022-12-27  238.699997
3269  MSFT2022-12-28       MSFT  2022     12   28 2022-12-28  236.889999
3270  MSFT2022-12-29       MSFT  2022     12   29 2022-12-29  235.649994

            high         low       close   adj_close    volume
0      31.100000   30.590000   30.950001   23.683071  38409100
1      31.100000   30.639999   30.959999   23.690725  49749600
2      31.080000   30.520000   30.770000   23.545338  58182400
3      30.700001   30.190001   30.450001   23.300467  50559700
4      30.879999   30.240000   30.660000   23.461161  51197400
...          ...         ...         ...         ...       ...
3266  241.990005  233.869995  238.190002  238.190002  28651700
3267  238.869995  233.940002  238.729996  238.729996  21207000
3268  238.929993  235.830002  236.960007  236.960007  16688600
3269  239.720001  234.169998  234.529999  234.529999  17457100
3270  241.919998  235.649994  241.009995  241.009995  19770700

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date        open  \
0     NFLX2010-01-04       NFLX  2010      1    4 2010-01-04    7.931429
1     NFLX2010-01-05       NFLX  2010      1    5 2010-01-05    7.652857
2     NFLX2010-01-06       NFLX  2010      1    6 2010-01-06    7.361429
3     NFLX2010-01-07       NFLX  2010      1    7 2010-01-07    7.731429
4     NFLX2010-01-08       NFLX  2010      1    8 2010-01-08    7.498571
...              ...        ...   ...    ...  ...        ...         ...
3266  NFLX2022-12-22       NFLX  2022     12   22 2022-12-22  298.089996
3267  NFLX2022-12-23       NFLX  2022     12   23 2022-12-23  296.179993
3268  NFLX2022-12-27       NFLX  2022     12   27 2022-12-27  293.190002
3269  NFLX2022-12-28       NFLX  2022     12   28 2022-12-28  281.920013
3270  NFLX2022-12-29       NFLX  2022     12   29 2022-12-29  283.179993

            high         low       close   adj_close    volume
0       7.961429    7.565714    7.640000    7.640000  17239600
1       7.657143    7.258571    7.358571    7.358571  23753100
2       7.672857    7.197143    7.617143    7.617143  23290400
3       7.757143    7.462857    7.485714    7.485714   9955400
4       7.742857    7.465714    7.614286    7.614286   8180900
...          ...         ...         ...         ...       ...
3266  298.880005  290.809998  297.750000  297.750000   7856200
3267  298.459991  291.910004  294.959991  294.959991   4251100
3268  293.570007  282.130005  284.170013  284.170013   5778100
3269  285.190002  273.410004  276.880005  276.880005   5964400
3270  295.500000  281.010010  291.119995  291.119995   9588500

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date        open  \
0     NVDA2010-01-04       NVDA  2010      1    4 2010-01-04    4.627500
1     NVDA2010-01-05       NVDA  2010      1    5 2010-01-05    4.605000
2     NVDA2010-01-06       NVDA  2010      1    6 2010-01-06    4.687500
3     NVDA2010-01-07       NVDA  2010      1    7 2010-01-07    4.695000
4     NVDA2010-01-08       NVDA  2010      1    8 2010-01-08    4.590000
...              ...        ...   ...    ...  ...        ...         ...
3266  NVDA2022-12-22       NVDA  2022     12   22 2022-12-22  160.940002
3267  NVDA2022-12-23       NVDA  2022     12   23 2022-12-23  151.960007
3268  NVDA2022-12-27       NVDA  2022     12   27 2022-12-27  150.740005
3269  NVDA2022-12-28       NVDA  2022     12   28 2022-12-28  139.270004
3270  NVDA2022-12-29       NVDA  2022     12   29 2022-12-29  144.020004

            high         low       close   adj_close    volume
0       4.655000    4.527500    4.622500    4.242311  80020400
1       4.740000    4.605000    4.690000    4.304260  72864800
2       4.730000    4.642500    4.720000    4.331791  64916800
3       4.715000    4.592500    4.627500    4.246899  54779200
4       4.670000    4.562500    4.637500    4.256077  47816800
...          ...         ...         ...         ...       ...
3266  161.380005  148.820007  153.389999  153.389999  56504500
3267  153.389999  148.830002  152.059998  152.059998  34932600
3268  151.000000  140.559998  141.210007  141.210007  46490200
3269  142.619995  138.839996  140.360001  140.360001  35106600
3270  146.830002  142.270004  146.029999  146.029999  35492300

[3271 rows x 12 columns]
               sd_id stock_name  year  month  day       date       open  \
0     ORCL2010-01-04       ORCL  2010      1    4 2010-01-04  24.660000
1     ORCL2010-01-05       ORCL  2010      1    5 2010-01-05  24.719999
2     ORCL2010-01-06       ORCL  2010      1    6 2010-01-06  24.770000

In [27]:
PROJECT_NAME = 'team-week-3'
DATASET_NAME = 'tech_stocks_world_events'

#create bigquery client
client = bigquery.Client()

#create dataset_id and table_ids
dataset_id = f"{PROJECT_NAME}.{DATASET_NAME}"
table_id = f"{PROJECT_NAME}.{DATASET_NAME}.stocks"

data_dir = '../data/all_tech_stocks.parquet'

#rename the parquet file in order to load to BigQuery
parq = '.snappy.parquet'
for file_name in os.listdir(data_dir):
    source = data_dir + file_name
    if parq in source and '.crc' not in source:
        os.rename(os.path.join(data_dir,file_name),os.path.join(data_dir,'stocks.parquet'))
    
#filepath to get loaded to BigQuery
DATA_FILE = os.path.join(data_dir,'stocks.parquet')

TABLE_SCHEMA = [
    bigquery.SchemaField('sd_id', 'STRING', mode='REQUIRED'),
    bigquery.SchemaField('stock_name', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('date', 'DATE', mode='NULLABLE'),
    bigquery.SchemaField('open', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('high', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('low', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('close', 'FLOAT', mode='NULLABLE'),
    bigquery.SchemaField('adj_close', 'STRING', mode='NULLABLE'),
    bigquery.SchemaField('volume', 'INTEGER', mode='NULLABLE'),
    ]

def create_dataset():
    if client.get_dataset(dataset_id) == NotFound:
        dataset = bigquery.Dataset(dataset_id)
        dataset.location = "US"
        dataset = client.create_dataset(dataset, exists_ok=True)
    else:
        pass

def create_stocks_table():
    job_config = bigquery.LoadJobConfig(
            source_format=bigquery.SourceFormat.PARQUET,
            autodetect=True,
            create_disposition='CREATE_NEVER',
            write_disposition='WRITE_TRUNCATE',
            ignore_unknown_values=True,
        )
    table = bigquery.Table(table_id, schema=TABLE_SCHEMA)
    table = client.create_table(table, exists_ok=True)

    with open(DATA_FILE, "rb") as source_file:
        job = client.load_table_from_file(source_file, table_id, job_config=job_config)

    job.result()

create_dataset()
create_stocks_table()

In [188]:
data_dir = '../data/all_tech_stocks.parquet'
filepath = '*.snappy.parquet'
test = sparkql.read.parquet(os.path.join(data_dir,filepath))

test.show()

+--------------+----------+----------+--------+--------+--------+--------+---------+---------+
|         sd_id|stock_name|      date|    open|    high|     low|   close|adj_close|   volume|
+--------------+----------+----------+--------+--------+--------+--------+---------+---------+
|TSLA2010-06-30|      TSLA|2010-06-30|1.719333|2.028000|1.553333|1.588667| 1.588667|257806500|
|TSLA2010-07-01|      TSLA|2010-07-01|1.666667|1.728000|1.351333|1.464000| 1.464000|123282000|
|TSLA2010-07-02|      TSLA|2010-07-02|1.533333|1.540000|1.247333|1.280000| 1.280000| 77097000|
|TSLA2010-07-06|      TSLA|2010-07-06|1.333333|1.333333|1.055333|1.074000| 1.074000|103003500|
|TSLA2010-07-07|      TSLA|2010-07-07|1.093333|1.108667|0.998667|1.053333| 1.053333|103825500|
|TSLA2010-07-08|      TSLA|2010-07-08|1.076000|1.168000|1.038000|1.164000| 1.164000|115671000|
|TSLA2010-07-09|      TSLA|2010-07-09|1.172000|1.193333|1.103333|1.160000| 1.160000| 60759000|
|TSLA2010-07-12|      TSLA|2010-07-12|1.196667|1.204667|1.133333|1.136667| 1.136667| 33037500|
|TSLA2010-07-13|      TSLA|2010-07-13|1.159333|1.242667|1.126667|1.209333| 1.209333| 40201500|
|TSLA2010-07-14|      TSLA|2010-07-14|1.196000|1.343333|1.184000|1.322667| 1.322667| 62928000|
|TSLA2010-07-15|      TSLA|2010-07-15|1.329333|1.433333|1.266667|1.326000| 1.326000| 56097000|
|TSLA2010-07-16|      TSLA|2010-07-16|1.380000|1.420000|1.336667|1.376000| 1.376000| 39319500|
|TSLA2010-07-19|      TSLA|2010-07-19|1.424667|1.483333|1.394667|1.460667| 1.460667| 37297500|
|TSLA2010-07-20|      TSLA|2010-07-20|1.456667|1.456667|1.336667|1.353333| 1.353333| 27379500|
|TSLA2010-07-21|      TSLA|2010-07-21|1.377333|1.393333|1.300000|1.348000| 1.348000| 18787500|
|TSLA2010-07-22|      TSLA|2010-07-22|1.366667|1.416667|1.358000|1.400000| 1.400000| 14367000|
|TSLA2010-07-23|      TSLA|2010-07-23|1.412667|1.437333|1.404000|1.419333| 1.419333|  9804000|
|TSLA2010-07-26|      TSLA|2010-07-26|1.433333|1.433333|1.353333|1.396667| 1.396667| 13833000|
|TSLA2010-07-27|      TSLA|2010-07-27|1.394000|1.412000|1.350667|1.370000| 1.370000|  9295500|
|TSLA2010-07-28|      TSLA|2010-07-28|1.370000|1.393333|1.367333|1.381333| 1.381333|  7008000|
+--------------+----------+----------+--------+--------+--------+--------+---------+---------+
only showing top 20 rows